@charset 'UTF-8';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'settings';
@import 'core/core';
@import 'core/mixins/utility';
@import 'style/variable';
@import 'module/button/button01';
@import 'module/button/button02';
@import 'style/editor';
@import 'core/class';


@import 'core/grid';
@import 'module/img-cover';

@import 'style/common';
@import 'style/style';
