@mixin button01 {
  display: inline-block;
  font: {
    size: 24px;
    weight: bold;
  }
  color: #262626;
  line-height: 1.7;
  letter-spacing: 0.04em;
  text-decoration: none;
  padding-left: 50px;

  &:hover {
    color: $primary;
  }

  &:before {
    content: "";
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.16);
    margin-right: 15px;
    background: url('images/icon_arrow_red.png') no-repeat center/contain;

    @media only screen and (max-width: $screen-tb) {
      width: 26px;
      height: 26px;
      line-height: 26px;
      font-size: 11px;
      margin-right: 10px;
    }
  }

  &.blue {
    &:before {
      background: url('images/icon_arrow_blue.png') no-repeat center/contain;
    }
    &:hover {
      color: $blue;
    }
  }

   &.yellow {
    &:before {
      background: url('images/icon_arrow_yellow.png') no-repeat center/contain;
    }
    &:hover {
      color: $yellow;
    }
  }

  @media only screen and (max-width: $screen-tb) {
    // font-size: 16px;
    padding-left: 40px;
  }
}